*{
	margin: 0;  /* отступы внешние  и внутренние обнуляем */
    padding: 0;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Oswald', sans-serif;
}
nav {
	width: 800px;
	height: 100px;
	}
.topnav .icon{
	display: none;
}
.topnav{
	background-color: #fff;
	font-size: 16px;
	margin-top:25px;
}
.topnav a{
color:#000;
text-align: center;
padding: 20px 5px;
font-size: 16px;
}

.topnav a:hover{
	background-color: red;
}

@media screen and (max-width: 760px){
	
.logo {
	background: #fff;
	width:100%;
	display: flex;
	justify-content: center;
}
	.topnav a:not(:first-child){
		display:none;
	}
	.topnav a.icon{
		float:right;
		margin-top:-17px;
		display:block;
		color:red;
	}
	nav{
	width: 100%;
	height: 100px;
}
.topnav.responsive{
	position: relative;
}
.topnav.responsive a.icon{
	position: absolute;
	right: 0;
	top:0;
}
.topnav.responsive a{
	float:none;
	display: block;
	}
}